In [3]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy.pool import NullPool

In [7]:
connection_url = "postgresql+psycopg2://root:root@172.18.0.2:5432/povertydb"

In [13]:
engine = create_engine(connection_url, poolclass=NullPool)

In [14]:
engine.connect()

In [16]:
t = text("SELECT * FROM poverty_data")

In [19]:
with engine.connect() as connection:
    result = pd.read_sql(t, con=engine)

In [20]:
result.head(n=5)

,index,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 50
0,None,World,WLD,"Poverty headcount ratio at $1.90 a day, urban ...",SI.POV.DDAY.UR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,None,World,WLD,"Poverty headcount ratio at $1.90 a day, with p...",SI.POV.DDAY.16.PR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,None,World,WLD,"Poverty headcount ratio at $1.90 a day, with s...",SI.POV.DDAY.16.SG,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,None,World,WLD,"Poverty headcount ratio at $1.90 a day, withou...",SI.POV.DDAY.16.PL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,None,World,WLD,"Poverty headcount ratio at $1.90 a day, with ...",SI.POV.DDAY.16.ST,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None