In [3]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy.pool import NullPool

In [7]:
connection_url = "postgresql+psycopg2://root:root@172.18.0.2:5432/povertydb"

In [13]:
engine = create_engine(connection_url, poolclass=NullPool)

In [14]:
engine.connect()

In [52]:
t = text('''
    SELECT "Country Name", 
           "Indicator Name"
    FROM poverty_data
    
''')

In [53]:
with engine.connect() as connection:
    result = pd.read_sql(t, con=engine)

In [54]:
result

      Country Name                                     Indicator Name
0            World  Poverty headcount ratio at $1.90 a day, urban ...
1            World  Poverty headcount ratio at $1.90 a day, with p...
2            World  Poverty headcount ratio at $1.90 a day, with s...
3            World  Poverty headcount ratio at $1.90 a day, withou...
4            World  Poverty headcount ratio at $1.90 a day,  with ...
...            ...                                                ...
10835     Zimbabwe  Survey mean consumption or income per capita, ...
10836     Zimbabwe    Urban poverty gap at national poverty lines (%)
10837     Zimbabwe  Urban poverty gap at national poverty lines (%...
10838     Zimbabwe  Urban poverty headcount ratio at national pove...
10839     Zimbabwe  Urban poverty headcount ratio at national pove...

[10840 rows x 2 columns]