In [30]:
import dash
from dash import html
from dash import dcc
from dash.dependencies import Output, Input
import dash_bootstrap_components as dbc

In [31]:
app = dash.Dash(__name__, external_stylesheets=['dbc.themes.DARKLY'])

In [32]:
import os

In [33]:
os.listdir('data')

['PovStatsData.csv']

In [34]:
import pandas as pd
poverty_data = pd.read_csv('data/PovStatsData.csv')
poverty_data.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 50
0,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PC40.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PT10.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PT60.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
app.layout = html.Div([
    html.H2('The World Bank'),
    dcc.Dropdown(
        id='country', 
        options=[{
            'label': country, 
            'value': country
        } for country in poverty_data['Country Name'].unique()]
    ),
    html.Br(),
    html.Div(id='report'),

    dbc.Tabs([
        dbc.Tab(
            html.Ul([
                html.Li('Number of Economies: 170'),
                html.Li('Temporal Coverage: 1974-2019'),
                html.Li('Update Frequency: Quarterly'),
                html.Li('Last Updated: MARCH 18, 2020'),
                html.Li([
                    'source: ',
                    html.A('https://datacatalog.worldbank.org/dataset/poverty-and-equity-database', href='https://datacatalog.worldbank.org/dataset/poverty-and-equity-database')
                ])
            ]),
            label='Key Facts'
        ),
        dbc.Tab(
            html.Ul([
                html.Li('Book title: Interactive Dashboards and Data Apps with Plotly and Dash'),
                html.Li([
                    'Github repo: ',
                    html.A('https://github.com/PacktPublishing/Interactive-Dashboards-and-Data-Apps-with-Plotly-and-Dash', href='https://github.com/PacktPublishing/Interactive-Dashboards-and-Data-Apps-with-Plotly-and-Dash')
                ])
            ]),
            label='Project Info'
        )
    ])
])

In [36]:
@app.callback(
    Output('report', 'children'),
    Input('country', 'value')
)
def display_country_report(country):
    if country is None:
        return ''
    
    # Corrected filtering logic
    filtered_df = poverty_data[
        (poverty_data['Country Name'] == country) & 
        (poverty_data['Indicator Name'] == 'Population, total')
    ]
    
    if filtered_df.empty:
        return f'No data available for {country}'
    
    population = filtered_df['2010'].values[0]
    
    return [
        html.H3(country),
        f'The population of {country} in 2010 was {population:,}'
    ]

In [37]:
if __name__ == '__main__':
    app.run_server(debug=True, port=9000)