In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.listdir('data')

['PovStatsData.csv',
 'PovStatsCountry.csv',
 'poverty.csv',
 'PovStatsSeries.csv',
 'lat_long.csv',
 'PovStatsCountry-Series.csv',
 'PovStatsFootNote.csv']

In [4]:
df = pd.read_csv('povertydata.csv')

/tmp/ipykernel_25795/16459251.py:1: DtypeWarning: Columns (66,67,73,79,82,83,87) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('povertydata.csv')

In [10]:
df.columns

Index(['Country Name', 'Country Code', 'year',
       'Annualized growth in per capita real survey mean consumption or income, bottom 40% (%)',
       'Annualized growth in per capita real survey mean consumption or income, top 10% (%)',
       'Annualized growth in per capita real survey mean consumption or income, top 60% (%)',
       'Annualized growth in per capita real survey mean consumption or income, total population (%)',
       'Annualized growth in per capita real survey median income or consumption expenditure (%)',
       'GINI index (World Bank estimate)',
       'Growth component of change in poverty at $1.90 a day (2011 PPP) (% of change)',
       'Growth component of change in poverty at $3.20 a day (2011 PPP) (% of change)',
       'Growth component of change in poverty at $5.50 a day (2011 PPP) (% of change)',
       'Income share held by fourth 20%', 'Income share held by highest 10%',
       'Income share held by highest 20%', 'Income share held by lowest 10%',
       'Income share held by lowest 20%', 'Income share held by second 20%',
       'Income share held by third 20%',
       'Median daily per capita income or consumption expenditure (2011 PPP)',
       'Multidimensional poverty, Drinking water (% of population deprived)',
       'Multidimensional poverty, Educational attainment (% of population deprived)',
       'Multidimensional poverty, Educational enrollment (% of population deprived)',
       'Multidimensional poverty, Electricity (% of population deprived)',
       'Multidimensional poverty, Headcount ratio (% of population)',
       'Multidimensional poverty, Monetary poverty (% of population deprived)',
       'Multidimensional poverty, Sanitation (% of population deprived)',
       'Number of poor at $1.90 a day (2011 PPP) (millions)',
       'Number of poor at $3.20 a day (2011 PPP) (millions)',
       'Number of poor at $5.50 a day (2011 PPP) (millions)',
       'Population, total', 'Poverty gap at $1.90 a day (2011 PPP) (%)',
       'Poverty gap at $3.20 a day (2011 PPP) (% of population)',
       'Poverty gap at $5.50 a day (2011 PPP) (% of population)',
       'Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)',
       'Poverty headcount ratio at $1.90 a day, Female (2011 PPP) (% of female population)',
       'Poverty headcount ratio at $1.90 a day, Male  (2011 PPP) (% of male population)',
       'Poverty headcount ratio at $1.90 a day, age 0-14  (2011 PPP) (% of population age 0-14)',
       'Poverty headcount ratio at $1.90 a day, age 15-64 (2011 PPP) (% of population age 15-64)',
       'Poverty headcount ratio at $1.90 a day, age 65+ (2011 PPP) (% of population age 65+)',
       'Poverty headcount ratio at $1.90 a day, rural (2011 PPP) (% of rural population)',
       'Poverty headcount ratio at $1.90 a day, urban (2011 PPP) (% of urban population)',
       'Poverty headcount ratio at $1.90 a day, with primary education (2011 PPP) (% of population age 16+ with primary education)',
       'Poverty headcount ratio at $1.90 a day, with secondary education (2011 PPP) (% of population age 16+ with secondary education)',
       'Poverty headcount ratio at $1.90 a day, without education (2011 PPP) (% of population age 16+ without education)',
       'Poverty headcount ratio at $1.90 a day,  with Tertiary/post-secondary education (2011 PPP) (% of population age 16+ with Tertiary/post-secondary education)',
       'Poverty headcount ratio at $3.20 a day (2011 PPP) (% of population)',
       'Poverty headcount ratio at $5.50 a day (2011 PPP) (% of population)',
       'Poverty headcount ratio at national poverty lines (% of population)',
       'Poverty headcount ratio at national poverty lines (% of population), including noncomparable values',
       'Redistribution component of change in poverty at $1.90 a day (2011 PPP) (% of change)',
       'Redistribution component of change in poverty at $3.20 a day (2011 PPP) (% of change)',
       'Redistribution component of change in poverty at $5.50 a day (2011 PPP) (% of change)',
       'Survey mean consumption or income per capita, bottom 40% (2011 PPP $ per day)',
       'Survey mean consumption or income per capita, top 10% (2011 PPP $ per day)',
       'Survey mean consumption or income per capita, top 60% (2011 PPP $ per day)',
       'Survey mean consumption or income per capita, total population (2011 PPP $ per day)',
       'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data', 'Unnamed: 30',
       'is_country'],
      dtype='object')

In [11]:
df = df[['Country Name','year', 'Poverty gap at $5.50 a day (2011 PPP) (% of population)']]

In [14]:
df = df.dropna(subset=['Poverty gap at $5.50 a day (2011 PPP) (% of population)'])

In [17]:
df.sort_values(by='Poverty gap at $5.50 a day (2011 PPP) (% of population)')

,Country Name,year,Poverty gap at $5.50 a day (2011 PPP) (% of population)
6516,Slovenia,1987,0.0
6540,Slovenia,2011,0.0
6539,Slovenia,2010,0.0
6538,Slovenia,2009,0.0
6537,Slovenia,2008,0.0
...,...,...,...
4694,Mali,1994,79.4
1188,Central African Republic,1992,81.1
1898,East Asia & Pacific,1981,84.6
1470,"Congo, Dem. Rep.",2004,86.4
2847,Guinea,1991,100.0

In [6]:
df = pd.read_csv('data/PovStatsData.csv')

In [7]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 50
0,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PC40.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PT10.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PT60.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PCAP.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.POV.XPND.MD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11835,Zimbabwe,ZWE,"Survey mean consumption or income per capita, ...",SI.SPR.PCAP,NaN,NaN,NaN,NaN,NaN,NaN,...,4.85,NaN,NaN,NaN,NaN,NaN,3.91,NaN,NaN,NaN
11836,Zimbabwe,ZWE,Urban poverty gap at national poverty lines (%),SI.POV.URGP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11837,Zimbabwe,ZWE,Urban poverty gap at national poverty lines (%...,SI.POV.URGP.NC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11838,Zimbabwe,ZWE,Urban poverty headcount ratio at national pove...,SI.POV.URHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11839,Zimbabwe,ZWE,Urban poverty headcount ratio at national pove...,SI.POV.URHC.NC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN