In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
postgres_url = "postgresql://root:root@172.18.0.2:5432/povertydb"

In [9]:
engine = create_engine(postgres_url)

In [10]:
engine.connect()

In [12]:
df = pd.read_csv('data/PovStatsData.csv')

In [13]:
df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 50
0,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PC40.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PT10.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PT60.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
print(pd.io.sql.get_schema(df, name='poverty_data'))

CREATE TABLE "poverty_data" (
"Country Name" TEXT,
  "Country Code" TEXT,
  "Indicator Name" TEXT,
  "Indicator Code" TEXT,
  "1974" REAL,
  "1975" REAL,
  "1976" REAL,
  "1977" REAL,
  "1978" REAL,
  "1979" REAL,
  "1980" REAL,
  "1981" REAL,
  "1982" REAL,
  "1983" REAL,
  "1984" REAL,
  "1985" REAL,
  "1986" REAL,
  "1987" REAL,
  "1988" REAL,
  "1989" REAL,
  "1990" REAL,
  "1991" REAL,
  "1992" REAL,
  "1993" REAL,
  "1994" REAL,
  "1995" REAL,
  "1996" REAL,
  "1997" REAL,
  "1998" REAL,
  "1999" REAL,
  "2000" REAL,
  "2001" REAL,
  "2002" REAL,
  "2003" REAL,
  "2004" REAL,
  "2005" REAL,
  "2006" REAL,
  "2007" REAL,
  "2008" REAL,
  "2009" REAL,
  "2010" REAL,
  "2011" REAL,
  "2012" REAL,
  "2013" REAL,
  "2014" REAL,
  "2015" REAL,
  "2016" REAL,
  "2017" REAL,
  "2018" REAL,
  "2019" REAL,
  "Unnamed: 50" REAL
)

In [16]:
len(df)

11840

In [17]:
df.head(n=0).to_sql(name='poverty_data', con=engine, if_exists='replace')

0

In [18]:
df_iter = pd.read_csv('data/PovStatsData.csv', chunksize=1000)

In [19]:
df = next(df_iter)

In [20]:
len(df)

1000

In [22]:
import time

In [23]:
while True:
    t_start = time.time()  # Use time.time() instead of time() to get the current time
    
    try:
        df = next(df_iter)
        df.to_sql(name='poverty_data', con=engine, if_exists='append', index=False)  # Use index=False to avoid adding the DataFrame's index as a column
        print("Finished ingesting the data successfully")
    except StopIteration:
        print("No more data to ingest. Exiting the loop.")
        break
    except Exception as e:
        print(f"An error occurred while ingesting the data: {e}")
    
    t_end = time.time()
    
    print(f"It took {t_end - t_start:.3f} seconds")

Finished ingesting the data successfully
It took 0.334 seconds
Finished ingesting the data successfully
It took 0.255 seconds
Finished ingesting the data successfully
It took 0.270 seconds
Finished ingesting the data successfully
It took 0.246 seconds
Finished ingesting the data successfully
It took 0.269 seconds
Finished ingesting the data successfully
It took 0.265 seconds
Finished ingesting the data successfully
It took 0.348 seconds
Finished ingesting the data successfully
It took 0.263 seconds
Finished ingesting the data successfully
It took 0.250 seconds
Finished ingesting the data successfully
It took 0.257 seconds
Finished ingesting the data successfully
It took 0.255 seconds
No more data to ingest. Exiting the loop.